input {
    resize: none;
    height: 2.4em;
    width: 4em;
    border: 0;
 }

 table {
    border-collapse: collapse;
    width: 20rem;
    text-align: left;
 }

 tr:nth-child(even), tr:nth-child(even) input{background-color: #ddd;}
 tr:hover {background-color: #ccc;}

 @media screen and (max-width: 768px){
    table{
        width: 100%;
    }
}