* {
    font-size: 1.2rem;
}

input {
    resize: none;
    height: 2rem;
    width: 4em;
    border: 0;
 }

 table {
    border-collapse: collapse;
    width: 20rem;
    text-align: left;
 }

 tr:nth-child(even), tr:nth-child(even) input{background-color: #eee;}
 tr:hover {background-color: #ccc;}

 @media screen and (max-width: 768px){
    table{
        width: 100%;
    }
}